*{
    margin: 0%;
    padding: 0%;
}

/* Main Contact  */
#maincontactcontainer{
    height:225vh;
    width: 100vw;
    background-color: rgb(248, 244, 237);
    display: grid;
    grid-template-rows: 0.6fr 1.3fr 1.3fr 1fr;
}

/* welcome contact  */

#contactsection{
    background-color: rgb(248, 244, 237);
    /* position: absolute; */
    display: flex;
    /* margin-top: 150px; */

    flex-direction:column;
    align-items: center;
    justify-content: center;
    /* border:5px solid black; */
    width: 100vw;
    }
#contactdiv{
    margin-top:90px;
    font-family: 'Varela Round', sans-serif;

}
.contact-about{
    font-family: 'Varela Round', sans-serif;
    font-size: 22px;
    /* border:2px solid red; */
    padding: -5px 0px;
    display: flex;
    flex-direction: row;
    margin:5px;
    justify-content: center;
    align-items: center;
}
#aboutintro{
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    /* margin:15px 200px; */
    justify-content: center;
    padding: 20px 100px;
    align-items: center;

}

@media (max-width: 670px){
        
    #aboutintro{
        padding: 20px 60px;
    }
    .contact-about{
        font-size: 18px;
    }
}


/* contact form  */
#contactform{
    background-color: rgb(248, 244, 237);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form1{
    padding: 5px 5px;
    width:60%;
    outline: none;
    border: none;
    font-family: 'Varela Round', sans-serif;
 
    text-align: center;
    
    margin: 15px 0px;


}
@media (max-width: 450px){
        
    #aboutintro{
        padding: 20px 10px;
    }
    .contact-about{
        font-size: 16px;
       
    }
    #maincontactcontainer{
        height:160vh;
        width: 100vw;
        background-color: rgb(248, 244, 237);
        display: grid;
        grid-template-rows: 0.6fr 0.8fr 1fr 0.5fr;
    }
     
    
}

@media (max-height: 640px){
        
   #maincontactcontainer{
       height:    250vh;
   }
}
@media (min-width: 800px){
        
   #maincontactcontainer{
       height:    100vh;
       grid-template-rows: 0.6fr 1fr 1.3fr 1fr;
   }
}
.formtext{
    display: inline;
    font-weight: bold;
    /* text-align: left; */
}

.formborder
{
    border:2px solid black;
    border-radius: 10px;
    background-color: rgb(248, 244, 237);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#btn{
    width:100px;
    
    background-color: rgb(5, 4, 58) ;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
}
#btn:hover{
    background-color: black;
    color:white;
}
/* Owner details  */
#ownerdetails{
    
    background-color: rgb(248, 244, 237);
    width: 100vw;
}
#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    width:100%;
}
@media (max-height: 1000px){
        
   #maincontactcontainer{
       height:    200vh;
   }
}

@media (max-width: 670px){

    
    #info{
        background-color: rgb(248, 244, 237);
        font-size: 14px;
        text-align: center;
    }
    .form1{
        margin: 5px 0px;
    }
    
    #contactform{
        justify-content: flex-start;
    
    }
    
    
        
    
}
@media (max-width: 800px){
    
    
    #maincontactcontainer{
        width: 100vw;
        background-color: rgb(248, 244, 237);
        
    }
    #contactsection{
        width: 100vw;
    }
    
    
        
    
}
