*{
    margin: 0;
    padding: 0;
}

#maincontainer{
    position: absolute;
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: 0.1fr 5fr 0.5fr  ;
    height:100vh;
    width: 99.4vw;
    
}
/* Header Section */
#header
{   
    position: sticky;
    top: 0;
    width: 99.4vw;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 244, 237);
    z-index: 100;;
    
    
}
.displaymobile{
    display: none;

}






#header ul li a{
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(65,136 ,255 );
    font-family: 'Varela Round', sans-serif;
}


#header ul li a:hover{
    /* color:white; */
    color:black;

}
.openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
#mainMenu {
    
    display: flex;
    list-style: none;
}
 .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-youtube:hover {color: rgb(235, 14, 14);}
.fa-instagram:hover {color: rgb(255, 0, 191);}

#logo{
    position: relative;
    padding: 3px;
    /* margin-right: 300px; */
    height: 120px;
    width: 275x;
    
}
@media (min-width: 1600px){

    #logo{
        margin-top: 20px;
        
    }
    
        
    
    
}





  
    
    

    /* section 2 */

#section2{
    /* height: 150px; */
    background-color: white;
    width: 98.79vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thought{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    
    
    
}
#secondline{
    margin-left: 50px;
    
}
@media (max-width: 1000px){
    /* #header{
        flex-direction: column;
    } */
    #maincontainer{
        width:100vw
    }
    .displaysetting{
        display: none;
    }
    #header{
        width: 100vw;
    }
    #header ul{
        color: white;
    }
    
    #section2{
        width: 100vw;
    }
    #logo{
        width: 200px;
    }
    
    #header ul li a{
        color: white;
    }
    #mainMenu{
        height: 100vh;
        position: fixed;
        
        top: 0%;
        transition-property: top;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        top: -120%;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        display: none;
    }
    #mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 110px;
        right: 40px;

    }
    .openMenu {
        display: block;
        
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}
@media(max-width:1000px){
    .displaylaptop{
        display: none;
    }
    .displaymobile{
        display: block;
    }
}




