doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Contact Us | JP Image Studio
  style 
   include ../CSS/contactstyle.css
  
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap' rel='stylesheet')
  // font-family: 'Dancing Script', cursive;
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Varela+Round&display=swap' rel='stylesheet')
  // font-family: 'Varela Round', sans-serif;


  header#header1.header
   div.logo
    img#logo.logo(src='../static/IMG/logo.png' alt='Jp image Studio')
  
   nav#navbar.navbar
    ul(onmouseover='effect()' onmouseout='normal()')
     li#list1
      a#home-t.overlay(href='/home') Home
     li#list2
      a#gallary-t.overlay(href='#') Gallary
     li#list3
      a#about-t.overlay(href='#') About Us
     li#list4
      a#contact-t.overlay(href='/contact') Contact Us
  script 
    include ../javascript.js  

section#contactsection
  #contactdiv.contactus
    h1#contacthead.contactus CONTACT US
  #aboutintro
    #description1.contact-about
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima illo magni vel fuga praesentium dolores!
    #description2.contact-about Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, neque!
    #description3.contact-about Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, quasi!
    #description4.contact-about Lorem ipsum dolor sit amet.
    #description5.contact-about Lorem ipsum dolor sit amet.
  br
  br
  hr(style='height:3px;width:1100px;border-width:0;color:gray;background-color:gray')
  #form.form
    form#contact-form.form1(action='/submit' method='POST')
      .formtext Bride Name*:
      input#bridename.form1.formborder(type='bridename'  name='BrideName' placeholder='Bride Name:' required='')
      br
      .formtext Groom Name*:
      input#groomname.form1.formborder(type='groomname' name='GroomName' placeholder='Groom Name:' required='')
      br
      .formtext Event Date*:
      input#eventdate.form1.formborder(type='date' name='EventDate' placeholder='DD/MM/YYYY' required='')
      br
      .formtext Venue Details*:
      textarea#venuedetails.form1.formborder(name='VenueDetails' cols='700' rows='3' placeholder='Venue Details:' required='')
      br
      .formtext Contact No*:
      input#contact.form1.formborder(type='number' name='Phone' placeholder='Contact No:' required='')
      br
      .formtext Email ID*:
      input#contact.form1.formborder(type='email' name='Email' placeholder='Email ID:' required='')
      br
      button#btn(type='submit') Submit
  hr(style='height:3px;width:1100px;border-width:0;color:gray;background-color:gray')
  section#info.info
    br
    br
    #ownerinfo
      h1 Owner Details
    br
    br
    #prakash
      h2 Ritesh Purswani
    #address
      h3 JP Imaging Studio,Nr.Gor No Kuvo,Jashodanagar,380008
    #address
      h3  Contact No:777 800 5592
  footer#footer.footer
    #divfooter.footer Copyright &copy;2021 | All Rights Reserved!
