doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Best Photography &amp; Cinematography | JP Image Studio
  style
    include ../CSS/style.css
  
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap' rel='stylesheet')
  // font-family: 'Dancing Script', cursive;
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Varela+Round&display=swap' rel='stylesheet')
  // font-family: 'Varela Round', sans-serif;

  header#header1.header
   div.logo
    img#logo.logo(src='../static/IMG/logo.png' alt='Jp image Studio')
  
   nav#navbar.navbar
    ul(onmouseover='effect()' onmouseout='normal()')
     li#list1
      a#home-t.overlay(href='/home') Home
     li#list2
      a#gallary-t.overlay(href='#') Gallary
     li#list3
      a#about-t.overlay(href='#') About Us
     li#list4
      a#contact-t.overlay(href='/contact') Contact Us
  script 
    include ../javascript.js  
section#section1
  #welcome-section1
    h1#welcomehead.bor Welcome!
    br
    br
    p.bor.cursive We know the value of each penny you spend on buying our products!
    p.bor.cursive We appreciate you for trusting us!.&nbsp; Satisfying your needs is our mission!
    // <p class="bor cursive">Welcome to JP IMAGING STUDIO</p>
    p.bor.cursive YOUR IMAGINATION IS OUR THINKING!
section#section2
  #quote.thought.fashion
    p.thought &ldquo; Without stories of love, our lives would pass by in the blink of an eye.
    p#secondline These stories have the power to stop the world for a moment &rdquo;
section#section3
  .fashion
    .fashion-text
      h1.bor WHAT WE LOVE?
